.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 17px 0px;
  padding: 0px 60px;
  box-sizing: border-box;
  width: 100%;
  
  
  
}
.box-nav {
  display: flex;
  align-items: center;
  gap: 32px;
  
  font-size: 16px;
}
.logo-nav {
  width: 176px;
  height: 100%;
}
.nav-btn{
  margin-right: 20px;
}
.nav-button {
  border: 0px solid black;
  padding: 12px 45px;
  border-radius: 15px;
  background: linear-gradient(to right, #fe8116, rgb(255, 202, 67));
  cursor: pointer;
}

.nav-button:hover {
  box-shadow: 0 10px 20px -5px #fe8116;
}
.box-btn {
  border: 0px solid black;
  padding: 8px 45px;
  border-radius: 15px;
  background-color: #f7f6f6;
  margin: 10px 0px;
}
.item-nav{
  display: flex;
  gap: 20px;
}


@media only screen and (max-width: 576px) {
  .navigation-button {
    width: 48px;
    height: 32px;
    margin: 17px 0px;
    margin-bottom: 33px;
  }
  .menu-container{
    position: fixed;
    top: 0;
   left: 0;
    inset: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100vh;
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
    
  }
  .menu{
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    padding: 40px 20px;
    box-sizing: border-box;
    position: relative;
    
    

  }
  .menu-item{
    position: absolute;
    top: 30px; 
    right: 25px;
  }
 
  .menu-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 70px

  }
  .menu-logo{
    position: relative;
    z-index: 1001;
    width: 50px ;
    height: 50px;
  }
  .box-btn {
    border: 0px solid black;
    padding: 15px 45px;
    border-radius: 15px;
    background-color: rgb(247 247 247 / var(--tw-bg-opacity, 1));
    margin: 10px 0px;
    width: 100%;
  }
  .box-nav {
    display: flex;
    align-items: center;
  }
 
  .nav-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin: 17px auto;
    width: 100%;
    padding: 0px 20px;
    
  }
  .logo-nav {
    width: 170px;
    height: auto;
    position: relative;
    z-index: 1001;
    
  }
  .nav-btn{
    position: relative;
    z-index: 1001;
    margin-right: 0px;
  }
  
  .navigation-logo {
    width: 50px;
    height:50px;
  }
  .nav-box {
    display: flex;
    align-items: center;
    gap: 10px;
    
  }
  .item-nav{
    display: none;
  }
  .nav-box{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .nav-button {
    border: 0px solid black;
    padding: 10px 35px;
    border-radius: 15px;
    background: linear-gradient(to right, #fe8116, rgb(255, 202, 67));
    cursor: pointer;
  }
  
}
@media only screen and (min-width: 577px) and (max-width:768px) {
  .navigation-button {
    width: 48px;
    height: 32px;
    margin: 17px 0px;
    margin-bottom: 33px;
  }
  .menu-container{
    position: fixed;
    top: 0;
   left: 0;
    inset: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 65%;
    height: 100vh;
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
    
  }
  .menu{
    width: 70%;
    height: 100%;
    margin: 0px 0px;
    padding: 40px 20px;
    box-sizing: border-box;
    position: relative;
    
    

  }
  .menu-item{
    position: absolute;
    top: 30px; 
    right: 25px;
  }
 
  .menu-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 70px

  }
  .menu-logo{
 
    width: 50px ;
    height: 50px;
  }
  .box-btn {
    border: 0px solid black;
    padding: 15px 45px;
    border-radius: 15px;
    background-color: rgb(247 247 247 / var(--tw-bg-opacity, 1));
    margin: 10px 0px;
    width: 100%;
  }
  .box-nav {
    display: flex;
    align-items: center;
  }
 
  .nav-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin: 17px auto;
    width: 100%;
    padding: 0px 20px;
    
  }
  .logo-nav {
    width: 170px;
    height: auto;
    position: relative;
    z-index: 1001;
    
  }
  .nav-btn{
    margin-right: 0px;
  }
  
  .navigation-logo {
    width: 50px;
    height:50px;
  }
  .nav-box {
    display: flex;
    align-items: center;
    gap: 10px;
    
  }
  .item-nav{
    display: none;
  }
  .nav-box{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .nav-button {
    border: 0px solid black;
    padding: 10px 35px;
    border-radius: 15px;
    background: linear-gradient(to right, #fe8116, rgb(255, 202, 67));
    cursor: pointer;
  }
  
  
}
@media only screen and (min-width:769px) and (max-width:992px){
  .navigation-button {
    width: 48px;
    height: 32px;
    margin: 17px 0px;
    margin-bottom: 33px;
  }
  .box-nav {
    display: flex;
    align-items: center;
  }
  .menu-container{
    position: fixed;
    top: 0;
   left: 0;
    inset: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 75%;
    height: 100vh;
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
    
  }
  .menu{
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    padding: 40px 20px;
    box-sizing: border-box;
    position: relative;
    
    
    

  }
  .menu-item{
    position: absolute;
    top: 30px; 
    right: 25px;
  }
  
  .box-btn {
    border: 0px solid black;
    padding: 15px 45px;
    border-radius: 15px;
    background-color: rgb(247 247 247 / var(--tw-bg-opacity, 1));
    margin: 10px 0px;
    width: 100%;
  }
 
  .menu-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   margin-top: 70px;

  }
  
  .menu-logo{
 
    width: 50px ;
    height: 50px;
  }
 
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 17px 0px;
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
    
  }
  .logo-nav {
    width: 170px;
    height: auto;
    position: relative;
    z-index: 1001;
    
  }
  .nav-btn{
    margin-right: 0px;
  }

  
  .navigation-logo {
    width: 50px;
    height:50px;
  }
  .nav-box {
    display: flex;
    align-items: center;
    
    gap: 10px;
    
    
  }
  .item-nav{
    display: none;
  }
  .nav-button {
    border: 0px solid black;
    padding: 10px 35px;
    border-radius: 15px;
    background: linear-gradient(to right, #fe8116, rgb(255, 202, 67));
    cursor: pointer;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1240px){
  .nav-container{
    margin: 20px 0px;
    padding: 0px 25px ;
    box-sizing: border-box;
  }
  .navigation-button{
    display: none;
  }
}

@media only screen  and  (min-width:1240px) {
 
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    padding: 17px 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    
  }
  .navigation-button{
    display: none;
  }
}


